.bg-light {
  background-color: #E8F4F3 !important;
}

.bg-gray {
  background-color: #FAFBFB !important;
}

.bg-secondary {
  background-color: #272727 !important;
}

.bg-primary {
  background-color: #F94A4A !important;
}

.text-gray {
  color: #888E8D !important;
}

.text-primary {
  color: #F94A4A !important;
}

.text-secondary {
  color: #272727 !important;
}

.btn {
  padding: 10px 30px;
  border-radius: 100px;
  box-shadow: none !important;
}

.btn-primary {
  color: #FFFFFF;
  background-color: #F94A4A;
  border: 1px solid #F94A4A !important;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #FFFFFF;
  color: #F94A4A;
}

.btn-secondary {
  color: #FFFFFF !important;
  background-color: #272727;
  border: 1px solid #272727 !important;
}
.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
  background-color: #FFFFFF;
  color: #272727 !important;
}

.btn-success:hover, .btn-success:active, .btn-success:focus {
  color: #198754;
  background-color: #e9fbf3;
  border: 1px solid #e9fbf3;
}

.btn-light-success {
  color: #198754;
  background-color: #e9fbf3;
  border: 1px solid #e9fbf3;
}

.btn-light-success {
  color: #198754;
  background-color: #e9fbf3;
  border: 1px solid #e9fbf3;
}
.btn-light-success:hover {
  color: #ffffff;
  border: 1px solid #198754;
  background-color: #198754;
}

.facebook-btn {
  color: #4267B2;
  border: 1px solid #4267B2;
}
.facebook-btn:hover {
  color: #ffffff;
  border: 1px solid #4267B2;
  background-color: #4267B2;
}

.linkedin-btn {
  color: #0A66C2;
  border: 1px solid #0A66C2;
}
.linkedin-btn:hover {
  color: #ffffff;
  border: 1px solid #0A66C2;
  background-color: #0A66C2;
}

.google-btn {
  color: #DB4437;
  border: 1px solid #DB4437;
}
.google-btn:hover {
  color: #ffffff;
  border: 1px solid #DB4437;
  background-color: #DB4437;
}

.br-gray {
  border: 1px solid #DAE0DF;
}

.br-10 {
  border-radius: 10px;
}

.py-40 {
  padding: 40px 0;
}
@media (max-width: 991px) {
  .py-40 {
    padding: 30px 0;
  }
}

.px-40 {
  padding: 40px;
}
@media (max-width: 991px) {
  .px-40 {
    padding: 30px;
  }
}
@media (max-width: 480px) {
  .px-40 {
    padding: 20px;
  }
}

.py-80 {
  padding: 80px 0 100px 0;
}
@media (max-width: 991px) {
  .py-80 {
    padding: 20px 0 50px 0;
  }
}

.py-100 {
  padding: 100px 0;
}
@media (max-width: 991px) {
  .py-100 {
    padding: 50px 0;
  }
}

.pt-100 {
  padding-top: 100px;
}
@media (max-width: 991px) {
  .pt-100 {
    padding-top: 50px;
  }
}

.mb-40 {
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .mb-40 {
    margin-bottom: 30px;
  }
}
@media (max-width: 480px) {
  .mb-40 {
    margin-bottom: 20px;
  }
}

.py-60 {
  padding: 60px 0;
}
@media (max-width: 991px) {
  .py-60 {
    padding: 40px 0;
  }
}

.px-20 {
  padding: 20px;
}
@media (max-width: 991px) {
  .px-20 {
    padding: 30px 40px;
  }
}

.py-20 {
  padding: 20px !important;
}

.py-30 {
  padding: 30px !important;
}
@media (max-width: 480px) {
  .py-30 {
    padding: 20px !important;
  }
}

.pb-150 {
  padding-bottom: 150px;
}
@media (max-width: 991px) {
  .pb-150 {
    padding-bottom: 75px;
  }
}

.fs-18 {
  font-size: 18px !important;
  line-height: 24px;
}
@media (max-width: 767px) {
  .fs-18 {
    font-size: 16px !important;
    line-height: 20px;
  }
}

.fs-14 {
  font-size: 14px;
  line-height: 24px;
}

li {
  list-style: none;
}

a, .fs-16 {
  font-size: 16px;
  line-height: 27px;
  text-decoration: none;
}

.br-2 {
  border-right: 1px solid #E8F4F3;
}
@media (max-width: 991px) {
  .br-2 {
    border-right: 0;
  }
}

h1, h3 {
  font-size: 44px;
  line-height: 56px;
}
@media (max-width: 1199px) {
  h1, h3 {
    font-size: 38px;
    line-height: 48px;
  }
}
@media (max-width: 991px) {
  h1, h3 {
    font-size: 34px;
    line-height: 38px;
  }
}
@media (max-width: 425px) {
  h1, h3 {
    font-size: 30px;
    line-height: 38px;
  }
}

h2 {
  font-size: 36px;
  line-height: 46px;
}
@media (max-width: 991px) {
  h2 {
    font-size: 30px;
    line-height: 38px;
  }
}
@media (max-width: 575px) {
  h2 {
    font-size: 26px;
    line-height: 30px;
  }
}

h4 {
  font-size: 20px;
  line-height: 56px;
}

.card {
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.card .card-img {
  width: 60px;
  height: 60px;
}
@media (max-width: 480px) {
  .card .card-img {
    width: 50px;
    height: 50px;
  }
}
.card .card-body {
  padding: 0;
}

.form-control, textarea {
  border: 1px solid #E8F4F3;
  padding: 16px 20px;
  box-shadow: none;
}
.form-control:focus, .form-control:active, textarea:focus, textarea:active {
  box-shadow: none;
}

.section-heading {
  margin-bottom: 60px;
}
@media (max-width: 991px) {
  .section-heading {
    margin-bottom: 40px;
  }
}
@media (max-width: 575px) {
  .section-heading {
    margin-bottom: 30px;
  }
}
.section-heading h2 {
  position: relative !important;
}
.section-heading h2:after, .section-heading h2:before {
  content: "";
  display: block;
  width: 80px;
  height: 5px;
  background-color: #F94A4A;
  top: 50%;
  position: absolute;
  border-radius: 3px;
}
@media (max-width: 767px) {
  .section-heading h2:after, .section-heading h2:before {
    width: 60px;
  }
}
@media (max-width: 575px) {
  .section-heading h2:after, .section-heading h2:before {
    width: 50px;
    height: 4px;
  }
}
@media (max-width: 425px) {
  .section-heading h2:after, .section-heading h2:before {
    width: 35px;
  }
}
.section-heading h2:after {
  left: -80px;
}
@media (max-width: 991px) {
  .section-heading h2:after {
    left: -54px;
  }
}
@media (max-width: 575px) {
  .section-heading h2:after {
    left: -10px;
  }
}
@media (max-width: 480px) {
  .section-heading h2:after {
    left: -30px;
  }
}
.section-heading h2:before {
  right: -80px;
}
@media (max-width: 991px) {
  .section-heading h2:before {
    right: -54px;
  }
}
@media (max-width: 575px) {
  .section-heading h2:before {
    right: -10px;
  }
}
@media (max-width: 480px) {
  .section-heading h2:before {
    right: -30px;
  }
}

.find-job-section .find-job {
  top: -45px;
  z-index: 999;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}
.find-job-section .find-job input {
  width: 100%;
  outline: none;
  border: none;
}

.latest-job-section .job-card .icon, .featured-job-section .job-card .icon, .our-latest-jobs .job-card .icon {
  top: -20px;
  left: 0;
}
.latest-job-section .job-card .text, .featured-job-section .job-card .text, .our-latest-jobs .job-card .text {
  background-color: #f94a4a1f;
  padding: 5px 15px;
  border-radius: 5px;
}

.recent-blog-section .blog-card .card .overlay {
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #27272787;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.recent-blog-section .blog-card .card .card-img-top:hover .overlay {
  height: 100%;
}
.recent-blog-section .blog-card .card .btn {
  z-index: 2;
  border: 1px solid #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.theme-selector {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  display: block;
  float: left;
  margin: 10px 8px 10px 13px;
  cursor: pointer;
}

.theme-selector:nth-child(1) {
  background: #E8F4F3;
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
}

.theme-selector:nth-child(2) {
  background: #222;
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
}

.theme-selector:nth-child(3) {
  background: #32fbe2;
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
}

.theme-selector:nth-child(4) {
  background: #333333;
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
}

.section-sidepanel {
  position: fixed;
  background: var(--bs-gray-600);
  border-radius: 0 8px 8px 0;
  top: 25%;
  width: 140px;
  min-width: 100px;
  z-index: 9999;
  line-height: 1.5em;
  color: var(--site-font-color);
  font-family: Helvetica, serif;
  text-align: center;
  margin-left: -180px;
  border-top: 1px solid var(--site-box-border-color);
  border-bottom: 1px solid var(--site-box-border-color);
  border-right: 1px solid var(--site-box-border-color);
}

.section-sidepanel .section-dark-mode-switch {
  margin: 8px auto 0;
}

.section-sidepanel-content {
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
}

.section-sidepanel-content p {
  padding: 0 !important;
  margin: 0 !important;
  font-weight: 500;
}

.section-sidepanel-content-item {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  display: block;
  float: left;
  margin: 10px 8px 10px 13px;
  cursor: pointer;
}

.section-sidepanel-content-item:nth-child(2) {
  background: #E8F4F3;
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
}

.section-sidepanel-content-item:nth-child(2):hover {
  opacity: 1;
}

.section-sidepanel-content-item:nth-child(3) {
  background: #50b3eb;
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
}

.section-sidepanel-content-item:nth-child(3):hover {
  opacity: 1;
}

.section-sidepanel-content-item:nth-child(4) {
  background: #32fbe2;
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
}

.section-sidepanel-content-item:nth-child(4):hover {
  opacity: 1;
}

.section-sidepanel-content-item:nth-child(5) {
  background: #333333;
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
}

.section-sidepanel-content-item:nth-child(5):hover {
  opacity: 1;
}

.section-sidepanel-content-item:nth-child(6) {
  background: #9f7869;
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
}

.section-sidepanel-content-item:nth-child(6):hover {
  opacity: 1;
}

.section-sidepanel-content-item:nth-child(7) {
  background: #007483;
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
}

.section-sidepanel-content-item:nth-child(7):hover {
  opacity: 1;
}

.section-sidepanel-handle {
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 0 4px 4px 0;
  font-size: 18px;
  background: var(--bs-light);
  color: var(--bs-light-text-emphasis);
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 20px);
  left: calc(100% - 0px);
  z-index: 10000;
  cursor: pointer;
  border-top: 1px solid var(--site-box-border-color);
  border-bottom: 1px solid var(--site-box-border-color);
  border-right: 1px solid var(--site-box-border-color);
}

.section-sidepanel-handle i {
  color: var(--site-icons-color);
}

.section-sidepanel-hide {
  display: none;
}

/*# sourceMappingURL=custom.css.map */

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Medium.ttf);
    font-weight: 500;
    font-style: normal;
    display: swap;
}

body {
    font-family: "Poppins", sans-serif; 
    font-weight: 500
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 80px;
    display: flex;
    align-items: center;
}

header .header-logo img {
    display: block;
    height: 50px;
    width: 50px;
    object-fit: contain;
}

.user-logo img {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

@media (max-width: 991px) {
    header {
        padding-top: 20px;
        padding-bottom: 20px
    }
}

@media (max-width: 575px) {
    header {
        padding-top: 15px;
        padding-bottom: 15px
    }
}

@media (max-width: 991px) {
    header .navbar {
        position: static
    }
}

@media (max-width: 991px) {
    header .navbar .navbar-nav {
        display: block
    }
}

header .navbar .navbar-nav .nav-item {
    position: relative;
    transition: all .3s
}

header .navbar .navbar-nav .nav-item .language-menu .nav-item {
    margin: 5px 0
}

header .navbar .navbar-nav .nav-item .language-menu .country-flag {
    width: 20px
}

header .navbar .navbar-nav .nav-item .submenu {
    position: absolute;
    min-width: 200px;
    width: auto;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    height: auto;
    display: inline-block;
    top: 110%;
    left: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in-out
}

header .navbar .navbar-nav .nav-item:hover .submenu {
    opacity: 1;
    visibility: visible
}

header .navbar .navbar-nav .nav-item .nav-link {
    padding-right: 25px;
    padding-left: 25px;
    color: #888e8d
}

.languages header .navbar .navbar-nav .nav-item .nav-link {
    padding-right: 15px;
    padding-left: 15px;
}

@media (max-width: 1399px) and (min-width: 1200px) {
    header .navbar .navbar-nav .nav-item .nav-link {
        padding-right: 18px;
        padding-left: 18px
    }

    .languages header .navbar .navbar-nav .nav-item .nav-link {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 14px;
    }
}

@media (max-width: 1199px) and (min-width: 992px){
    header .navbar .navbar-nav .nav-item .nav-link {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 15px;
    }

    .languages header .navbar .navbar-nav .nav-item .nav-link {
        padding-right: 6px;
        padding-left: 6px;
        font-size: 13px;
    }
}

header .navbar .navbar-nav .nav-item .nav-link.active, header .navbar .navbar-nav .nav-item .nav-link:hover {
    color: #272727
}

@media (min-width: 1400px) {
    header .navbar .navbar-nav .nav-item:last-child .nav-link {
        padding-right: 0
    }
}

@media (max-width: 991px) {
    header .navbar .navbar-toggler {
        box-shadow: none
    }
}

@media (max-width: 991px) {
    header .navbar .navbar-collapse {
        position: absolute;
        width: calc(100% - 24px);
        top: 70px;
        background: #fff;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 696px;
        border-radius: .625rem;
        box-shadow: 0 0 20px rgba(173, 181, 189, .38);
        z-index: 1024
    }
}

@media (max-width: 767px) {
    header .navbar .navbar-collapse {
        max-width: 516px
    }
}

@media (max-width: 991px) {
    header .navbar .header-btn-grp {
        padding: 0 20px 16px;
    }
}

header .navbar .dropdown .dropdown-toggle {
    padding: 8px 25px;
    color: #888e8d
}

@media (max-width: 1399px) {
    header .navbar .dropdown .dropdown-toggle {
        padding-right: 18px;
        padding-left: 18px
    }
}

@media (max-width: 1199px) {
    header .navbar .dropdown .dropdown-toggle {
        padding-right: 14px;
        padding-left: 14px
    }
}

header .navbar .dropdown .dropdown-toggle:after {
    border: 0;
    margin-left: 10px;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    content: "";
    vertical-align: middle;
    line-height: normal
}

header .navbar .navbar-nav .submenu .nav-item .nav-link {
    padding-right: 10px;
    padding-left: 10px;
}

footer {
    padding-top: 80px
}

@media (max-width: 991px) {
    footer {
        padding-top: 50px
    }
}

footer .email input {
    width: 95%;
    outline: none;
    border: none;
    padding: 0 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px
}

@media (max-width: 1199px) {
    footer .email input {
        width: 76%
    }
}

footer .email .icon {
    width: 50px;
    height: 50px;
    padding: 17px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px
}

.social-icon-box {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.f-icon-box {
    width: 26px;
}

.bookmark-class{
    position: absolute;
    right: 30px;
    top: 30px;
    color: #f94a4a;
}
.job-post-wrapper ul.pagination {
    margin-top: 30px !important;
}
 .reset-filter{
    padding: 0.25rem 0.5rem !important;
}

.accordion-body>p{
    color: #888e8d!important;
    font-size: 14px;
    line-height: 24px;
}

.job-description {
    font-size: 16px;
    line-height: 27px;
    text-decoration: none;
    color: #888e8d !important;
}

.mt-40 {
    margin-top: 40px;
}

.blog-description{
    font-size: 16px;
    line-height: 27px;
    text-decoration: none;
    color: #888e8d !important;
}

.card-body>.blog-desc{
    font-size: 14px;
    line-height: 24px;
    color: #888e8d !important;
}

.testimonial-desc {
    font-size: 16px;
    line-height: 27px;
    text-decoration: none;
    color: #888e8d !important;
}

.slide-desc {
    font-size: 16px;
    line-height: 27px;
    text-decoration: none;
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

.ui-menu {
    z-index: 1111;
}

.job-search {
    left: 30px;
    top: 80px;
    li {
        margin: 2px !important;
        padding: 3px !important;
        transition: 0.3s;
        border-top: 2px solid #e9e9e9;
    }
}

.job-search li:hover {
    cursor: pointer;
    border-bottom: 2px solid #f94a4a;
}

.job-search-dropdown {
  padding: 15px;
  color: #888e8d !important;
  font-size: 14px !important;
  border-radius: unset;
}

.terms-desc {
    font-size: 16px;
    line-height: 27px;
    text-decoration: none;
    color: #888E8D !important;
}

.privacy-policy {
  font-size: 16px;
  line-height: 27px;
  text-decoration: none;
  color: #888E8D !important;
}

.page-link {
  cursor: pointer;
}

.blog-avatar-img {
  object-fit: cover;
}
.btn-outline-primary {
    color: #173FC1FF;
    border-color: #173FC1FF;
}

.btn-outline-primary:hover {
    color: #ffffff;
    background-color: #173FC1FF;
    border-color: #173FC1FF;
}
.btn-outline-pink {
    color: #ff0feb;
    border-color: #ff0feb;
}

.btn-outline-pink:hover {
    color: #ffffff;
    background-color: #ff0feb;
    border-color: #ff0feb;
}

.tag-badge{
    background: rgba(25,103,210,.15);
    color: #1967D2 !important;
    font-size: 12px !important;
    line-height: 15px;
    padding: 5px 20px;
    border-radius: 50px;
    margin-top: 10px
}
.find-job {
    border-radius:5px;
    padding:12px;
    border: 1px solid rgba(39, 39, 39, 0.125);
}
.find-jobs-btn {
    padding: 10px 25px;
    border-radius: 5px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.desc .jobs-position{
    background-color: #ff00000f;
    color: #FF5B5C;
    padding: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.desc .jobs-no-position{
    background-color: #6D767D;
    color: white;
    padding: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.primary-link-hover .card-title
{
    font-size: 18px;
    font-weight: 100;
}
.location-text{
    color: rgb(157 169 185);
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    font-weight: 100;
}
.location-text i {
    color: rgb(157 169 185);
}
.fs-12 {
    font-size:12px;
    line-height:12px;
}
.details-page-card-text{
    font-size:14px;
    line-height:24px;
    color: #888e8d !important;
}
.related-jobs{
    background-color: #f94a4a1f;
    padding: 5px;
    border-radius: 5px;
}

.desc-card , .job-card-category{
    box-shadow:none;
    border:0;
    transition: all .4s linear;
}
.desc-card:hover , .job-card-category:hover {
    background: #fff;
    box-shadow: 0 12px 48px rgb(0 44 109 / 10%);
}
.desc-card .card-img , .job-card-category .card-img{
    width:72px;
    height:72px;
    min-width: 72px;
    margin-right:16px;
    background-color: #ff00000f;
    border-radius: 4px;
    i {
        font-size:40px !important;
        display:flex;
        justify-content: center;
        align-items: center;
    }


}

.card-img  .svg-inline--fa {
    color: #FF5B5C;
    font-size:40px !important;
}
.card-text h3 {
    font-size:24px;
    line-height:24px;
}
.input {
    border: none;
    width: 100%;
    outline:none;
}
.input-icon {
    font-size:24px;
    color: #FF5B5C;
}
.border-left-color{
    border: none;
    border-left: 4px solid #F94A4A;
}
.recent-post-img{
    width: 100px;
    height: 70px;
    border-radius: 5px;
    object-fit: cover;
}
.job-card .tag {
    position: absolute;
    transform: rotate(0deg);
    top: 16px;
    left: 265px;
    font-size: 13px;
    color: #FF5B5C;
    padding: 0 5px;
}

    @media (max-width:991px) {
        .input-text {
        border-bottom:1px solid #E8F4F3 !important;
    }
}
.bookmark-icon {
   top: 0; 
    left: -7px;
}
.job-card-img {
    width:72px;
    height:60px;
    min-width:72px;
}
.mb-20{
    margin-bottom: 20px;
}
.blog-card .card{
    border-radius: 48px 48px 10px 10px;
}
.py-50{
    padding: 50px 0;
}
.footer-logo{
    img{
        max-width: 120px;
    }
}

.slider-test-section .carousel-control-prev, .slider-test-section .carousel-control-next {
  width: auto;
  opacity: 1;
}

.slider-test-section .carousel-control-prev {
    left: -130px;
} 

.slider-test-section .carousel-control-next {
    right: -130px;
}

.slider-test-section .carousel-control-prev .icon, .slider-test-section .carousel-control-next .icon {
  padding: 6px 7px;
  border: 1px solid #FFFFFF;
  border-radius: 50px;
}

.banner-carousel {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.banner-carousel .bg-image {
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    visibility: visible !important;
}

.banner-carousel .bg-image:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right:0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
}

.banner-carousel .slick-arrow {
    z-index: 1;
    width: 50px;
    height: 50px;
    border: 1px solid #ffffff;
    border-radius: 50%;
}

.banner-carousel .slick-prev {
    left: 100px;
}

.banner-carousel .slick-next {
    right: 100px;
}

.banner-carousel .slick-slide, .slick-list, .slick-track {
    height: 100%;
}

.banner-carousel .slick-track {
    min-height: unset;
}

.banner-carousel .slick-prev:before, .banner-carousel .slick-next:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 16px;
}

.banner-carousel .slick-prev:before {
    content: "\f060";
}

.banner-carousel .slick-next:before {
    content: "\f061";
}

.comapnies-logo-section .slick-slider .slick-track {
    display: flex;
    align-items: center;
    justify-content: center;
}

.comapnies-logo-section .slide {
    height: 60px;
    padding: 0 10px;
}

.comapnies-logo-section .slide img {
    height: 60px;
    object-fit: contain;
    width: auto;
}


@media (max-width: 575px) {
  .slider-test-section .carousel-control-prev .icon, .slider-test-section .carousel-control-next .icon {
    font-size: 12px;
  }
}

.slider-test-section .slider-img {
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-test-section .slider-img-desc {
  bottom: 8px;
}

@media (max-width: 991px) {
  .slider-test-section .slider-img-desc {
    bottom: 0;
  }
}

.popular-job-categories-section .job-categories-card .icon {
  top: -30px;
  left: 5px;
}

@media (max-width: 480px) {
  .popular-job-categories-section .job-categories-card .icon {
    left: 0px;
    top: -20px;
  }
}

@media (max-width: 325px) {
  .popular-job-categories-section .job-categories-card .icon {
    left: -5px;
    top: -23px;
  }
}

.notice-section .notice-content {
  border-radius: 50px;
}

.notice-section .notice-content .autoscroller {
  height: 500px;
  overflow-y: auto;
}

.notice-section .notice-content .autoscroller::-webkit-scrollbar {
  display: none;
}

.notice-section .notice-content .notice-desc {
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  float: top;
}

.notice-section .notice-content span {
  padding: 10px 30px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  bottom: 0;
  right: 12px;
}

.notice-section .marquee {
  position: relative;
  -webkit-animation: scroll 10s linear infinite;
          animation: scroll 10s linear infinite;
}

.notice-section .marquee:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes scroll {
  0% {
    top: 500px;
  }
  100% {
    top: -500px;
  }
}

@keyframes scroll {
  0% {
    top: 500px;
  }
  100% {
    top: -500px;
  }
}

.testimonial-section .testimonial .testimonial-card {
  padding: 60px;
}

.testimonial-section .testimonial .testimonial-card .testimonial-img {
    width: 160px;
    height: 160px;
    box-shadow: 0 5px 15px 0 #00000014;
    border: 5px solid #FFFFFF;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-section .testimonial-card .testimonial-img img {
    display: block;
    width: auto;
    max-width: 100%;
    object-fit: cover;
}


@media (max-width: 991px) {
  .testimonial-section .testimonial .testimonial-card {
    padding: 40px;
  }
}

@media (max-width: 575px) {
  .testimonial-section .testimonial .testimonial-card {
    padding: 30px;
  }
}

.testimonial-section .testimonial .testimonial-card .comma {
    left: -11px;
    top: -5px;
}

.testimonial-section .slick-list {
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.testimonial-section .slick-dotted.slick-slider {
  margin-bottom: 60px;
}

.testimonial-section .slick-dots {
  bottom: -60px;
}

.testimonial-section .slick-dots li button {
  display: none;
}

.testimonial-section .slick-dots li {
  font-size: 0;
  line-height: 0;
  display: inline-block;
  width: 20px;
  border: 1px solid #888E8D;
  border-radius: 10px;
  height: 8px;
  padding: 0px;
  color: transparent;
  outline: none;
  background: transparent;
}

.testimonial-section .slick-dots li:before {
  font-size: 0;
}

.testimonial-section li.slick-active {
  background-color: #F94A4A;
  border: 0;
  width: 20px;
  border-radius: 10px;
  height: 8px;
}

.pricing-packages-section .pricing-plans .card-body-top {
  border-bottom: 1px solid #E8F4F3;
}

.pricing-packages-section .pricing-plans .card-body-bottom .check-box {
  width: 22px;
  height: 22px;
  min-width: 22px;
  border-radius: 50px;
  background-color: #888E8D;
}

@media (max-width: 991px) {
    .banner-carousel .slick-arrow {
        display: none !important;
    }
}

@media (max-width: 1600px) {
    .slider-test-section .carousel-control-prev {
        left: -80px;
    }

    .slider-test-section .carousel-control-next {
        right: -80px;
    }
}

@media (max-width: 1499px) {
    .carousel-inner {
        width: calc(100% - 100px);
        margin: auto;
    }

    .slider-test-section .carousel-control-prev {
        left: 0;
    }



    .slider-test-section .carousel-control-next {
        right: 0;
    }
}
/*# sourceMappingURL=home.css.map */

.job-details-section .share-this-job .icon-box .social-icon {
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

@media (max-width: 575px) {
  .job-details-section .share-this-job .icon-box .social-icon {
    width: 36px;
    height: 36px;
  }
}

.job-details-section .share-this-job .icon-box .social-icon:nth-child(1) {
  background-color: #3A5BA0;
}

.job-details-section .share-this-job .icon-box .social-icon:nth-child(2) {
  background-color: #1DA1F2;
}

.job-details-section .share-this-job .icon-box .social-icon:nth-child(3) {
  background-color: #0077B5;
}

.job-details-section .share-this-job .icon-box .social-icon:nth-child(4) {
  background-color: #DB4A39;
}

.job-details-section .share-this-job .icon-box .social-icon:nth-child(5) {
  background-color: #E60023;
}

.job-details-section .share-this-job .icon-box .social-icon .icon i {
  font-size: 22px;
}

@media (max-width: 575px) {
  .job-details-section .share-this-job .icon-box .social-icon .icon i {
    font-size: 14px;
  }
}

.company-overview .company-profile .profile {
  width: 60px;
  height: 60px;
}

.job-profile-img {
    width: 80px;
    height: 80px;
}

.company-overview .company-profile .profile img, .job-profile-img img{
    width: auto;
    border-radius: 10px;
    object-fit: cover;
    height: 100%;
    max-width: 100%;
}

.bookmark {
    width: auto;
    right: 0;
}
/*# sourceMappingURL=job-details.css.map */

.how-it-works-section .work-process {
  overflow: hidden;
}

.how-it-works-section .work-process .img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
  .how-it-works-section .work-process .img {
    width: 80px;
    height: 80px;
  }
}

.how-it-works-section .work-process .img img {
  width: 50px;
  height: 50px;
}

@media (max-width: 767px) {
  .how-it-works-section .work-process .img img {
    width: 40px;
    height: 40px;
  }
}

.how-it-works-section .work-process .arrow1 {
  left: 23%;
  top: 0;
}

.how-it-works-section .work-process .arrow2 {
    left: 56%;
    top: 80px;
}

.question-section .accordion-button::after {
  display: none;
}

.question-section .accordion-button:not(.collapsed) {
  color: #F94A4A;
  background-color: #FFFFFF;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.question-section .accordion-item {
  border: none;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.question-section .accordion-body {
  padding: 0 20px 20px 20px;
}
/*# sourceMappingURL=about-us.css.map */

.blog-card .card {
  border: none;
}

.blog-card .blog-detail-img {
    height: 300px;
    width: 300px;
}

.blog-card .blog-detail-img .inner-image {
    width: 300px;
}

@media (max-width: 767px) {
  .blog-card .card-img-top {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .blog-card .blog-detail-img .inner-image {
      width: auto;
      height: 280px !important;
  }
}

.recent-post-section .recent-post .img img {
  width: 100px;
  height: 70px;
  border-radius: 5px;
    object-fit: cover;
}
/*# sourceMappingURL=blog.css.map */

.blog-detail-section .blog-detail .designer-details .img {
  width: 30px;
  height: 30px;
}

.blog-detail-section .blog-detail .blog-img img {
  width: 100%;
  height: 100%;
}

.blog-detail-section .comments {
  border-top: 1px solid #DAE0DF;
  border-bottom: 1px solid #DAE0DF;
}

.blog-detail-section .comments .comment-card {
  border: none;
  border-left: 4px solid #F94A4A;
}

.blog-detail-section .comments .comment-card .card-img {
  width: 60px;
  height: 60px;
}

.blog-detail-section .comments .comment-card .card-img img {
  width: 100%;
}

.blog-detail-section .leave-comment form input, .blog-detail-section .leave-comment form textarea {
  border: 1px solid #E8F4F3;
  padding: 16px 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.social-badge {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*# sourceMappingURL=blog-details.css.map */

.hero-img {
    width: 80px;
    height: 80px;
}

@media (max-width: 375px) {
    .hero-img img {
        width: 60px;
    }
}

.candidate-profile-img  {
    width: 80px;
    height: 80px;
}

.candidate-profile-img  img {
    width: auto;
    object-fit: cover;
    height: 100%;
    max-width: 100%;
    border-radius: 50%;
    min-width: 100%;
    min-height: 100%;
}

.job-description-block{
    position: relative;
    padding-left: 60px;
    z-index: 1;
    padding-bottom: 40px;
}

.job-description-block:before {
    position: absolute;
    left: 14px;
    top: 5px;
    bottom: 0;
    z-index: -1;
    border-left: 2px dashed rgba(217, 48, 37, .15);
    content: "";
}

.job-description-block .name  {
    position: absolute;
    left: 0;
    top: 5px;
    display: block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    border-radius: 50%;
    background: #f9e0df;
    color: rgba(217, 48, 37, 1);
    z-index: 2;
}

.latest-job-section .latest-job-left .form-group .form-check-input:checked, .latest-job-section .latest-job-left .form-group .form-check-input:active {
  background-color: #F94A4A;
  border-color: #F94A4A;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.latest-job-section .latest-job-left .form-group .form-switch .form-check-input {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='white'/></svg>");
  background-color: #DAE0DF;
  border-color: #DAE0DF;
}

.latest-job-section .latest-job-left .form-group .form-check-input:checked {
  background-color: #F94A4A;
}

.latest-job-section .latest-job-left .form-group .form-check-input:focus {
  border-color: transpatant;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.latest-job-section .latest-job-left .form-group .form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='white'/></svg>");
}

.latest-job-section .job-img {
  width: 100%;
  height: 100%;
}

.irs--flat .irs-min, .irs--flat .irs-max {
  top: 0;
  padding: 1px 3px;
  color: #888E8D;
  text-shadow: none;
  background-color: transparent;
  border-radius: 4px;
  font-size: 14px;
}

.irs--flat .irs-single {
  color: #F94A4A;
  font-size: 14px;
  text-shadow: none;
  padding: 5px 10px;
  background-color: #FFFFFF;
  border: 1px solid #DAE0DF;
  border-radius: 5px;
}

.irs--flat .irs-bar {
  top: 40px;
  height: 4px;
}

.irs--flat .irs-line {
  top: 40px;
  height: 4px;
  background-color: #DAE0DF;
  border-radius: 4px;
}

.irs--flat .irs-handle > i:first-child {
  position: absolute;
  display: block;
  top: 12px;
  left: 0%;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  background-color: #F94A4A;
}

.irs--flat .irs-single:before {
  display: none;
}

.irs-single {
  position: absolute;
  display: block;
  top: -5px;
}
/*# sourceMappingURL=jobs.css.map */
.hero-img {
  width: 80px;
  height: 80px;
}

@media (max-width: 375px) {
  .hero-img img {
    width: 60px;
  }
}

.company-profile-img {
    width: 80px;
    height: 80px;
}

.company-profile-img img{
    width: auto;
    object-fit: cover;
    height: 100%;
    max-width: 100%;
    border-radius: 50%;
    min-width: 100%;
    min-height: 100%;
}
/*# sourceMappingURL=company-details.css.map */

.apply-job-section .apply-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
