.bg-light {
  background-color: #E8F4F3 !important;
}

.bg-gray {
  background-color: #FAFBFB !important;
}

.bg-secondary {
  background-color: #272727 !important;
}

.bg-primary {
  background-color: #F94A4A !important;
}

.text-gray {
  color: #888E8D !important;
}

.text-primary {
  color: #F94A4A !important;
}

.text-secondary {
  color: #272727 !important;
}

.btn {
  padding: 10px 30px;
  border-radius: 100px;
  box-shadow: none !important;
}

.btn-primary {
  color: #FFFFFF;
  background-color: #F94A4A;
  border: 1px solid #F94A4A !important;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #FFFFFF;
  color: #F94A4A;
}

.btn-secondary {
  color: #FFFFFF !important;
  background-color: #272727;
  border: 1px solid #272727 !important;
}
.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
  background-color: #FFFFFF;
  color: #272727 !important;
}

.btn-success:hover, .btn-success:active, .btn-success:focus {
  color: #198754;
  background-color: #e9fbf3;
  border: 1px solid #e9fbf3;
}

.btn-light-success {
  color: #198754;
  background-color: #e9fbf3;
  border: 1px solid #e9fbf3;
}

.btn-light-success {
  color: #198754;
  background-color: #e9fbf3;
  border: 1px solid #e9fbf3;
}
.btn-light-success:hover {
  color: #ffffff;
  border: 1px solid #198754;
  background-color: #198754;
}

.facebook-btn {
  color: #4267B2;
  border: 1px solid #4267B2;
}
.facebook-btn:hover {
  color: #ffffff;
  border: 1px solid #4267B2;
  background-color: #4267B2;
}

.linkedin-btn {
  color: #0A66C2;
  border: 1px solid #0A66C2;
}
.linkedin-btn:hover {
  color: #ffffff;
  border: 1px solid #0A66C2;
  background-color: #0A66C2;
}

.google-btn {
  color: #DB4437;
  border: 1px solid #DB4437;
}
.google-btn:hover {
  color: #ffffff;
  border: 1px solid #DB4437;
  background-color: #DB4437;
}

.br-gray {
  border: 1px solid #DAE0DF;
}

.br-10 {
  border-radius: 10px;
}

.py-40 {
  padding: 40px 0;
}
@media (max-width: 991px) {
  .py-40 {
    padding: 30px 0;
  }
}

.px-40 {
  padding: 40px;
}
@media (max-width: 991px) {
  .px-40 {
    padding: 30px;
  }
}
@media (max-width: 480px) {
  .px-40 {
    padding: 20px;
  }
}

.py-80 {
  padding: 80px 0 100px 0;
}
@media (max-width: 991px) {
  .py-80 {
    padding: 20px 0 50px 0;
  }
}

.py-100 {
  padding: 100px 0;
}
@media (max-width: 991px) {
  .py-100 {
    padding: 50px 0;
  }
}

.pt-100 {
  padding-top: 100px;
}
@media (max-width: 991px) {
  .pt-100 {
    padding-top: 50px;
  }
}

.mb-40 {
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .mb-40 {
    margin-bottom: 30px;
  }
}
@media (max-width: 480px) {
  .mb-40 {
    margin-bottom: 20px;
  }
}

.py-60 {
  padding: 60px 0;
}
@media (max-width: 991px) {
  .py-60 {
    padding: 40px 0;
  }
}

.px-20 {
  padding: 20px;
}
@media (max-width: 991px) {
  .px-20 {
    padding: 30px 40px;
  }
}

.py-20 {
  padding: 20px !important;
}

.py-30 {
  padding: 30px !important;
}
@media (max-width: 480px) {
  .py-30 {
    padding: 20px !important;
  }
}

.pb-150 {
  padding-bottom: 150px;
}
@media (max-width: 991px) {
  .pb-150 {
    padding-bottom: 75px;
  }
}

.fs-18 {
  font-size: 18px !important;
  line-height: 24px;
}
@media (max-width: 767px) {
  .fs-18 {
    font-size: 16px !important;
    line-height: 20px;
  }
}

.fs-14 {
  font-size: 14px;
  line-height: 24px;
}

li {
  list-style: none;
}

a, .fs-16 {
  font-size: 16px;
  line-height: 27px;
  text-decoration: none;
}

.br-2 {
  border-right: 1px solid #E8F4F3;
}
@media (max-width: 991px) {
  .br-2 {
    border-right: 0;
  }
}

h1, h3 {
  font-size: 44px;
  line-height: 56px;
}
@media (max-width: 1199px) {
  h1, h3 {
    font-size: 38px;
    line-height: 48px;
  }
}
@media (max-width: 991px) {
  h1, h3 {
    font-size: 34px;
    line-height: 38px;
  }
}
@media (max-width: 425px) {
  h1, h3 {
    font-size: 30px;
    line-height: 38px;
  }
}

h2 {
  font-size: 36px;
  line-height: 46px;
}
@media (max-width: 991px) {
  h2 {
    font-size: 30px;
    line-height: 38px;
  }
}
@media (max-width: 575px) {
  h2 {
    font-size: 26px;
    line-height: 30px;
  }
}

h4 {
  font-size: 20px;
  line-height: 56px;
}

.card {
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.card .card-img {
  width: 60px;
  height: 60px;
}
@media (max-width: 480px) {
  .card .card-img {
    width: 50px;
    height: 50px;
  }
}
.card .card-body {
  padding: 0;
}

.form-control, textarea {
  border: 1px solid #E8F4F3;
  padding: 16px 20px;
  box-shadow: none;
}
.form-control:focus, .form-control:active, textarea:focus, textarea:active {
  box-shadow: none;
}

.section-heading {
  margin-bottom: 60px;
}
@media (max-width: 991px) {
  .section-heading {
    margin-bottom: 40px;
  }
}
@media (max-width: 575px) {
  .section-heading {
    margin-bottom: 30px;
  }
}
.section-heading h2 {
  position: relative !important;
}
.section-heading h2:after, .section-heading h2:before {
  content: "";
  display: block;
  width: 80px;
  height: 5px;
  background-color: #F94A4A;
  top: 50%;
  position: absolute;
  border-radius: 3px;
}
@media (max-width: 767px) {
  .section-heading h2:after, .section-heading h2:before {
    width: 60px;
  }
}
@media (max-width: 575px) {
  .section-heading h2:after, .section-heading h2:before {
    width: 50px;
    height: 4px;
  }
}
@media (max-width: 425px) {
  .section-heading h2:after, .section-heading h2:before {
    width: 35px;
  }
}
.section-heading h2:after {
  left: -80px;
}
@media (max-width: 991px) {
  .section-heading h2:after {
    left: -54px;
  }
}
@media (max-width: 575px) {
  .section-heading h2:after {
    left: -10px;
  }
}
@media (max-width: 480px) {
  .section-heading h2:after {
    left: -30px;
  }
}
.section-heading h2:before {
  right: -80px;
}
@media (max-width: 991px) {
  .section-heading h2:before {
    right: -54px;
  }
}
@media (max-width: 575px) {
  .section-heading h2:before {
    right: -10px;
  }
}
@media (max-width: 480px) {
  .section-heading h2:before {
    right: -30px;
  }
}

.find-job-section .find-job {
  top: -45px;
  z-index: 999;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}
.find-job-section .find-job input {
  width: 100%;
  outline: none;
  border: none;
}

.latest-job-section .job-card .icon, .featured-job-section .job-card .icon, .our-latest-jobs .job-card .icon {
  top: -20px;
  left: 0;
}
.latest-job-section .job-card .text, .featured-job-section .job-card .text, .our-latest-jobs .job-card .text {
  background-color: #f94a4a1f;
  padding: 5px 15px;
  border-radius: 5px;
}

.recent-blog-section .blog-card .card .overlay {
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #27272787;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.recent-blog-section .blog-card .card .card-img-top:hover .overlay {
  height: 100%;
}
.recent-blog-section .blog-card .card .btn {
  z-index: 2;
  border: 1px solid #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.theme-selector {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  display: block;
  float: left;
  margin: 10px 8px 10px 13px;
  cursor: pointer;
}

.theme-selector:nth-child(1) {
  background: #E8F4F3;
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
}

.theme-selector:nth-child(2) {
  background: #222;
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
}

.theme-selector:nth-child(3) {
  background: #32fbe2;
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
}

.theme-selector:nth-child(4) {
  background: #333333;
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
}

.section-sidepanel {
  position: fixed;
  background: var(--bs-light);
  border-radius: 0 8px 8px 0;
  top: 25%;
  width: 140px;
  min-width: 100px;
  z-index: 2;
  line-height: 1.5em;
  color: var(--site-font-color);
  font-family: Helvetica, serif;
  text-align: center;
  margin-left: -180px;
  border-top: 1px solid var(--site-box-border-color);
  border-bottom: 1px solid var(--site-box-border-color);
  border-right: 1px solid var(--site-box-border-color);
}

.section-sidepanel .section-dark-mode-switch {
  margin: 8px auto 0;
}

.section-sidepanel-content {
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
}

.section-sidepanel-content p {
  padding: 0 !important;
  margin: 0 !important;
  font-weight: 500;
}

.section-sidepanel-content-item {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  display: block;
  float: left;
  margin: 10px 8px 10px 13px;
  cursor: pointer;
}

.section-sidepanel-content-item:nth-child(2) {
  background: #E8F4F3;
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
}

.section-sidepanel-content-item:nth-child(2):hover {
  opacity: 1;
}

.section-sidepanel-content-item:nth-child(3) {
  background: #222;
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
}

.section-sidepanel-content-item:nth-child(3):hover {
  opacity: 1;
}

.section-sidepanel-content-item:nth-child(4) {
  background: #32fbe2;
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
}

.section-sidepanel-content-item:nth-child(4):hover {
  opacity: 1;
}

.section-sidepanel-content-item:nth-child(5) {
  background: #333333;
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
}

.section-sidepanel-content-item:nth-child(5):hover {
  opacity: 1;
}

.section-sidepanel-content-item:nth-child(6) {
  background: #9f7869;
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
}

.section-sidepanel-content-item:nth-child(6):hover {
  opacity: 1;
}

.section-sidepanel-content-item:nth-child(7) {
  background: #007483;
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
}

.section-sidepanel-content-item:nth-child(7):hover {
  opacity: 1;
}

.section-sidepanel-handle {
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 0 4px 4px 0;
  font-size: 18px;
  background: var(--bs-light);
  color: var(--bs-light-text-emphasis);
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 20px);
  left: calc(100% - 0px);
  z-index: 3;
  cursor: pointer;
  border-top: 1px solid var(--site-box-border-color);
  border-bottom: 1px solid var(--site-box-border-color);
  border-right: 1px solid var(--site-box-border-color);
}

.section-sidepanel-handle i {
  color: var(--site-icons-color);
}

.section-sidepanel-hide {
  display: none;
}

/*# sourceMappingURL=custom.css.map */
